<div class="row m-3">
    <div class="col">
        <button class="btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target={"#" <> @id } aria-expanded="false" aria-controls={@id}>
            &#x2699; <%= gettext("settings") %>
        </button>
  </div>
</div>