<div class="row">
  <div class="col">
    <button
      class="btn btn-secondary collapsed mb-3"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target={"#" <> @id }
      aria-expanded="false"
      aria-controls={@id}
    >
      <svg class="feather settings">
        <use href={Routes.static_path(@conn, "/images/feather-icons/feather-sprite.svg#settings")} />
      </svg>

      <%= gettext("settings") %>
    </button>
  </div>
</div>
