/* Override bootstrap parameters, they have to be before the import: */
$btn-focus-width:0; $btn-focus-box-shadow:none;
$form-check-input-checked-bg-color: #00a3d3;
$component-active-bg: #00a3d3;


/* Import files: */
@import "./kits/theme.scss";
@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/quill/dist/quill.snow";
@import "./colorpicker.scss";
@import "./editor.scss";
@import "./feather-icons.scss";


.alert:empty {
    display: none;
  }