/* Override bootstrap parameters, they have to be before the import: */
$btn-focus-width:0; $btn-focus-box-shadow:none;

/* Import files: */
@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/quill/dist/quill.snow";
@import "./colorpicker.scss";
@import "./editor.scss";

/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.invalid-feedback {
  margin: 0px;
}