.color {
    cursor: pointer !important;
    border-radius: 5px;
    margin: 3px;
    border: 2px solid white;
}

.color:hover {
    border: 2px solid black !important;
}

.color-selected {
    border: 2px solid black !important;
}

// these are the default colors from quilljs:
$colors: black gold darkgreen darkslateblue midnightblue crimson;

@each $color in $colors {
    .colorpicker-background-color-#{$color} {
        background-color: $color !important;
    }
}