<!DOCTYPE html>
<!--[if lte 8]><html class="pre-ie9" lang="de"><![endif]-->
<!--[if gte IE 9]><!--><html lang="de"><!--<![endif]-->
  <head>
    <title>QRStorage</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="" />

    <link rel="manifest" href={Routes.static_path(@conn, "/site.webmanifest")} />
    <link rel="mask-icon" href={Routes.static_path(@conn, "/images/safari-pinned-tab.svg")} color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />

    <%= csrf_meta_tag() %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <link rel="apple-touch-icon" href={Routes.static_path(@conn, "/images/apple-touch-icon.png")}>
    <link rel="icon" sizes="192x192" href={Routes.static_path(@conn, "/images/favicon-192x192.png")}>
    <link rel="icon" sizes="96x96" href={Routes.static_path(@conn, "/images/favicon-96x96.png")}>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body>
    <div class="container-fluid g-0">
      <div class="row g-0">
        <div class="col-lg-6 order bg-gradient bg-gradient-primary min-vh-100 d-flex flex-column align-items-center justify-content-between order">
          <div></div>
          <div>
            <%= link to: "/", title: "QRStorage" do %>
              <img src={Routes.static_path(@conn, "/images/qrstorage_logo.svg")} class="img-fluid d-block" alt="QRStorage Logo" />
            <% end %>
          </div>
          <div class="d-flex align-items-center pb-4">
            <a href="https://github.com/kitsteam/qrstorage"><img src={Routes.static_path(@conn, "/images/github-logo.svg")} class="img-fluid d-block" alt="GitHub Logo"/></a>
            <a href="https://github.com/kitsteam/qrstorage" class="text-white px-lg-2 p-2 text-decoration-none">QRStorage</a>
            <a href="https://kits.blog/impressum/" class="text-white px-lg-2 p-2 text-decoration-none">Impressum</a>
            <a href="https://kits.blog/datenschutzerklaerung/" class="text-white p-2 text-decoration-none">Datenschutz</a>
          </div>
        </div>

        <div class="col-lg-6 min-vh-100 d-flex flex-column justify-content-between">
          <div class="d-flex w-100 g-0 justify-content-end px-3">
            <div class="pt-3">
              <a href="https://kits.blog/tools/"><img src={Routes.static_path(@conn, "/images/kits-logo.svg")} class="img-fluid d-block" alt="Kits Logo"/></a>
            </div>
          </div>
          <div class="row g-0 h-75">
            <div class="container w-90">
              <h1 class="fw-bold">
                <%= link "QRStorage", to: "/", title: "QRStorage", class: "text-decoration-none" %>
              </h1>
              <div class="row">
                <div class="col-sm-6">
                  <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
                  <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
                </div>
              </div>
              <%= @inner_content %>
            </div>
          </div>

          <div class="d-flex w-100 g-0 justify-content-around px-sm-3">
            <div>
              <p class="fs-6 text-center">
              <%= gettext("This tool may only be used in Teaching/Learning situations. It is not permitted to enter personal information.") %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--[if IE
      ]><div
        class="w-100 text-center bg-dark text-white pt-3 px-4 pb-1 position-fixed"
        style="z-index: 1000; bottom: 0"
      >
        <p onClick="parentNode.remove()">
          Please use a modern browser for a better browsing experience. <span class="float-right">X</span>
        </p>
      </div><!
    [endif]-->
  </body>
</html>