
<ul class="list-group list-unstyled ">
    <li class="list-group-item pb-2 border-0">Verlinke mit QRStorage auf multimediale Inhalte oder biete deinen Lernenden differenzierte Texte. Unser Highlight: Nutze die integrierte Sprachausgabe und lass deinen Code sprechen!</li>
</ul>
<br/>
<%= render "form.html", Map.put(assigns, :action, Routes.qr_code_path(@conn, :create)) %>
